# Скрытые файлы
#*.log
#*.tmp
#*.swp

# Скрытые папки
# /.idea/
# /.vscode/
# /node_modules/

# Все скрытые файлы и папки
# .*

node_modules

SportStore.Angular/.angular/

**/.tsbuildinfo/

.vscode

bin
obj
appsettings.json
SportStore.Angular/.angular/cache/18.2.7/SportStore.Angular/.tsbuildinfo
.angular
