# Скрытые файлы
#*.log
#*.tmp
#*.swp

# Скрытые папки
# /.idea/
# /.vscode/
# /node_modules/

# Все скрытые файлы и папки
# .*

node_modules
.angular/cache/
.vscode
bin
obj
appsettings.json
SportStore.Angular/.angular/cache/

