<div class="signform">

  <form #signForm="ngForm" (ngSubmit)="sign()" autocomplete="off"
        style="display: flex;flex-direction: column; align-items:center;">

      <h1 color="primary">Регистрация</h1>

      <mat-form-field>
        <mat-label>Login</mat-label>
        <input matInput name="login" [(ngModel)]="model.login">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput name="password" type="password" [(ngModel)]="model.password">
      </mat-form-field>

      <mat-form-field>
        <mat-label >Роль</mat-label>
        <mat-select [(ngModel)]="model.roleId"
                    [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let roleId of roles" [value]="roleId" >{{roleId}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-flat-button color="primary" type="submit" >Создать</button>
        <button mat-raised-button color="secondary"  type="reset" (click)="cancel()">Отмена</button>
      </div>

  </form>

</div>
