html, body { 
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '../node_modules/material-design-icons-iconfont/dist/material-design-icons.css'