<mat-toolbar color="primary">
    <button mat-flat-button [routerLink] = "['']" [color]="color('')"  >
        <mat-icon>
            home
        </mat-icon>
        Home
    </button>



    <button *ngIf="(authService.currentUser$ | async) == null" mat-flat-button routerLink = '/sign' [color]="color('sign')" >
        <mat-icon>login</mat-icon>
        Регистрация 
    </button>

    <!-- *ngIf="authService.currentUser$ | async" -->
    <button    mat-flat-button routerLink = '/users' [color]="color('users')">
        <mat-icon>
            people
        </mat-icon>
        Пользователи
    </button>

    <button *ngIf="authService.currentUser$ | async" mat-button type="button" (click)="authService.logout()">
        <mat-icon>
          logout
        </mat-icon>
        Выход
    </button>    

</mat-toolbar>