<mat-toolbar color="primary">

  <button mat-icon-button [routerLink]="['/']">
  <mat-icon>
    home
  </mat-icon>
  </button>
  <a *ngIf="auth.currentUser$ | async"  mat-flat-button color="primary" [routerLink]="['/users']">
    Пользователи
  </a>

  <form *ngIf="(auth.currentUser$ | async) === null" (ngSubmit) ="login()" autocomplete="off">

    <mat-form-field>
      <mat-label>Login</mat-label>
      <input matInput name="login" type="text" [(ngModel)] = "model.login" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput name="password" type="password" [(ngModel)] ="model.password" />
    </mat-form-field>

    <button *ngIf="(auth.currentUser$ | async) === null" mat-icon-button type="submit">

      <mat-icon>
        login
      </mat-icon>
    </button>

  </form>

  <button *ngIf="auth.currentUser$ | async" type="button" mat-icon-button (click)="logout()">
    <mat-icon>
      logout
    </mat-icon>
  </button>

 </mat-toolbar>
